/**
 * BUTTONS and Interactions
 * SYNTAX
 * .ui give interactable basics
 * a.ui.is-link describes what kind of major style to follow
 * .ui--underline delivers the animation type
 */
a
  text-decoration none

[class^="ui"]
  cursor pointer
  text-decoration none
  transition all .3s
  width max-content    
  position relative
  user-select none
  // overflow hidden