
/**
 * Standardising the header and body tags
 * Omit Top Margins and going the margin-bottom way
 */

p
  font-family _paragraph
  font-size 1em
  margin-bottom _mBottom
  line-height 140%
  letter-spacing .025em
span
  font-family _paragraph
  line-height normal

blockquote 
  border-left .25em solid black
  padding _padding
  padding-left 4em
  font-family _header

h1,h2,h3,h4,h5,h6
  font-family _header
  margin-bottom 1.75rem
  font-weight inherit
  line-height 1.35em
  text-rendering optimizeLegibility
  letter-spacing .05em

h1
  font-size 2.2rem
h2
  font-size 2rem
h3
  font-size 1.667rem
h4
  font-size 1.111rem
h5
  font-size 1.121rem
h6
  font-size .88rem
small
  font-size 0.707em
pre, code
  font-family 'monospace'
