_fontsource = "font/"
_header = monospace
_paragrph = sans-serif

fontface(name)
  @font-face 
    font-family name
    src url(_fontsource + name + '.eot')
    src url(_fontsource + name + '.woff') format('woff'), url(_fontsource + name + '.ttf') format('truetype'), url(_fontsource + name + '.svg') format('svg')
    font-weight normal
    font-style normal

/**
 * Declare custom Font
 * fontface(_header)
 */

_minFont = 16
_maxFont = 26  
_minWidth = 320
_maxWidth = 1280
_difference = _maxFont - _minFont
fluid()
  font-size "calc(%s * ((100vw - %spx) / %s) + %s)" % (_maxFont _minWidth _maxWidth _minFont)