title
meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0")
meta(name="description" content="")
link(href="style.css" rel="stylesheet")
//- link(href="style.css" rel="preload" as="style")
//- link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="preload" as="style")
//- script(async src="/js/async.js")
//- style
//-   include critical.css