/**
 * FontAwesome icons
 */

[class*="fa--"]
  font-family FontAwesome
  font-size 1em
.fa
  &--copy:before
    content "\f0ea"
  &--check:before
    content "\f00c"
  &--link:before
    content "\f0c1"
  &--file:before
    content "\f15b"
  &--radio-on:before
    content "\f111"
  &--radio-off:before
    content "\f10c"
  &--cross:before
    content "\f146"
  &--alert:before
    content "\f071"
  &--spinner:before
    content "\f110"
  &--plus:before
    content "\f067"