class(name)
  [class^=name]
    { block }

/**
 * CSS3 GRID --- example
 * grid-gap 2em
 * grid-template-columns auto 2fr minmax(auto, 10em)
 * grid-template-rows minmax(3rem, auto) 
 * grid-template-areas "meta view status"
 */

.layout
  &-flex
    display flex
    justify-content center
    align-items center
  &-flex-column
    display flex
    flex-direction column
    justify-content center
    align-items center
  &-grid
    display grid

/**
 * SYNTAX
 * .layout-flex use .box
 * .layout-grid use .cell
 */

/*
 * DEPRECATE?
  cell(action) =>
  .cell-action
    grid-area action
 */

cell(target)
  .cell
    &-target
      grid-area target

