html
  overflow-x hidden
  font-family _paragraph, helvetica, sans-serif
  font-size _base
  color $grey
  +wide()
    font-size _wide
  +desktop()
    font-size _desktop
  +tablet()
    font-size _tablet
  +mobile-landscape()
    font-size _mobile
  +mobile()
    font-size _mobile