/**
 * INPUTS RESET
 */
*:focus
  outline none
*
  -webkit-tap-highlight-color transparent

input
  appearance none
  outline none
  margin 0
  padding 0
  border none

textarea
  appearance none
  outline none
  margin 0
  padding 0
  border none
  resize none
  overflow auto