@keyframes pulse
  0% 
    box-shadow 0 0 0 0 rgba(204,100,144, 0.4)
  100%
    box-shadow 0 0 10px 20px rgba(50,169,44, 0)

.switch-enter-active, .switch-leave-active
  transition all .3s ease
.switch-enter, .switch-leave-to
  transform translateX(100%)
  opacity 0