.chatbot-component
  position relative
  display flex
  flex-direction column
  align-items center
  justify-content center
  height 100vh
  +mobile()
    height calc(100vh - 6em)
  .type-writer-component
    width 100%
    max-width calc(400px + 4em)
    max-height 50vh
    min-height 400px
    height 100%
    +mobile()
      min-height 250px
    overflow hidden
    transition all .3s
    display flex
    align-items flex-end 
  .user-choices-component
    width 100%
    max-width calc(400px)