.skills-component
	position absolute
	top 2em
	left 0
	display flex
	flex-wrap wrap
	padding 0 20vw
	width 100%
	justify-content center
	+mobile()
		padding 0 2em
	.skill
		border-radius 1em
		font-size .5em
		padding .5em 1.5em
		background _teal
		color white
		margin .25em