/**
 * Generic Common State
 */

.is-active
  opacity 1
  transform translate(0,0)

.has-state-disabled
  background-color #efefef
  color blue

.has-state-debounce
  pointer-events none
  opacity .5
  background-color black
  color white