.user-choices-component
	border-top .125em solid black
	padding-top 1em
	margin .5em 0
	.layout--flex
		display flex
		justify-content space-between
		.is-choice
			display flex
			justify-content center
			align-items center
			// color white
			// background-color black
			border .125em solid black
			border-radius 1em
			padding 0 1.25em
			height min-content
			min-height 2em
			max-height 2em
			overflow hidden
			&:hover
				padding 0 1.75em
			+mobile()
				padding 0em 1.25em