.user-choices-component
	border-top .125em solid black
	padding-top 1em
	margin .5em 0
	.layout--flex
		display flex
		justify-content space-between
		.is-choice
			display flex
			align-items center
			color white
			background-color black
			border-radius 1em
			padding .25em 1em
			height min-content
			max-height 1.5em
			overflow hidden
			&:hover
				padding .25em 1.5em