/** 
 * THEME VARIABLES
 */
_wBody = 1280px
_wSection = 1180px
_wArticle = 768px

/** FONTS */
_base = 26px
_wide = 26px
_desktop = 26px
_tablet = 22px
_mobile = 20px


/**
 * Margins & paddings
 */
_mBottom = 1.5rem
_padding = 2em