/** 
 * THEME VARIABLES
 */
_wBody = 1280px
_wSection = 1180px
_wArticle = 768px

/** FONTS */
_base = 26px
_wide = 21px
_desktop = 19px
_tablet = 18px
_mobile = 16px


/**
 * Margins & paddings
 */
_mBottom = 1.5rem
_padding = 2em